<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo.webp" alt="Logo" width="80" height="auto" class="navbar-logo" />
    </a>
    
    <button class="navbar-toggler border-0" type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" #navbarNav>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex justify-content-center align-items-center" *ngFor="let cat of categories">
          <a class="nav-link custom-link" 
             [routerLink]="['/categoria', cat.id, cat.name]"
             routerLinkActive="active-link"
             (click)="onCategoryClick(navbarNav)">
            {{ cat.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<a href="https://wa.me/5214437937947" class="whatsapp-float pulse-animation" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp"></i>
</a>