<app-navbar></app-navbar>

<div class="container mt-5">
  <h2 class="text-capitalize mb-4 fw-bold text-center">Catálogo de {{ category }}</h2>
  
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of products; let i = index">
      <div class="card h-100 shadow-sm border-0">
        
        <div [id]="'carouselProduct' + i" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <div *ngFor="let img of product.images; let first = first" 
                 [class.active]="first" 
                 class="carousel-item">
              <img [src]="img" 
                   class="d-block w-100 product-img-fixed img-pointer" 
                   (click)="openZoom(product)"
                   data-bs-toggle="modal" 
                   data-bs-target="#imageZoomModal">
            </div>
          </div>
          
          <ng-container *ngIf="product.images.length > 1">
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselProduct' + i" data-bs-slide="prev">
              <span class="carousel-control-prev-icon shadow-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselProduct' + i" data-bs-slide="next">
              <span class="carousel-control-next-icon shadow-icon"></span>
            </button>
          </ng-container>
        </div>

        <div class="card-body d-flex flex-column text-center">
          <h5 class="card-title fw-bold">{{ product.name }}</h5>
          <h6 class="text-primary mb-3">
            {{ product.price !== '0' ? (product.price | currency) : 'Precio bajo medidas' }}
          </h6>
          <a [href]="'https://wa.me/5214437937947?text=Hola,%20me%20interesa%20la%20' + product.name"
             target="_blank" class="btn btn-success mt-auto rounded-pill py-2">
            <i class="fab fa-whatsapp me-2"></i> Cotizar ahora
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="imageZoomModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark border-0">
      <div class="modal-header border-0 pb-0">
        <h5 class="modal-title text-white small">{{ selectedProduct?.name }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-2">
        
        <div *ngIf="selectedProduct" id="carouselModal" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner">
            <div *ngFor="let img of selectedProduct.images; let isFirst = first" 
                 class="carousel-item" 
                 [class.active]="isFirst">
              <img [src]="img" class="d-block w-100 img-full-view" [alt]="selectedProduct.name">
            </div>
          </div>

          <ng-container *ngIf="selectedProduct.images.length > 1">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselModal" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselModal" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
            </button>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</div>
