.product-img-fixed {
  height: 300px;
  object-fit: cover;
  object-position: center;
  background-color: #eee;
}

.img-pointer {
  cursor: zoom-in;
}

.img-full-view {
  max-height: 80vh; // Para que no se salga de la pantalla
  object-fit: contain; // Muestra la imagen completa sin recortes
  background-color: #000;
}

.shadow-icon {
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.8));
}

// Estilo para el modal oscuro
.modal-content {
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}